.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  /* background-image: url("https://images.unsplash.com/photo-1560607985-ba7df7f6faf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.user-image {
  background-image: url("https://images.unsplash.com/photo-1560607985-ba7df7f6faf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80");
  width: 100%;
  height: 100%;
}

.admin-image {
  background-image: url("https://images.unsplash.com/photo-1560607985-ba7df7f6faf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80");
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 15em;
}

.grey-text {
  color: grey;
}

.text-1 {
  font-size: smaller;
}
.white-background {
  background-color: white;
  opacity: 1;
}

.add-train-wrapper {
  margin-left: 200px;
  margin-right: 200px;
}

.card-form {
  margin: 0 auto;
}

.img-background-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.label-bold {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.heading-text {
  text-align: center;
}

.container-center {
  display: flex;
  justify-content: center;
}

.table-small {
  width: 100%;
}
.feedback-background {
  background-image: url("./images/feedback.svg");
  width: 100%;
}

.passengers {
  display: flex;
}
